    /* --- Addon: Custom Subreddit Name Logo --- */
    /*
    Instructions:
    Upload an image asset named "logo" and you should be good to go
    */
    .pagename a {
        background: url(%%logo%%);
        height: 51px;
        width: 360px;
        display: inline-block;
        text-indent: -9999em;
    }

    /* --- End Addon --- */
